html {
    scroll-behavior: smooth;
}

body {
    color: #111111;
    font-family: 'Noto Serif JP', 'Noto Sans JP', serif, sans-serif;
}

.section {
    padding: 140px 0;
}

.headline-en {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 500;
}

.headline-ja {
    font-size: 16px;
}

.contents-area {
    width: 1000px;
    margin: 0 auto;
}

/* drawer customize*/

.drawer-hamburger {
    padding-top: 44px;
    padding-left: 50px;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
    background-color: #FFF;
}

.btn {
    position: relative;
    height: 48px;
    width: 240px;
    margin: 0 auto;
    background-color: #111111;
}

.btn a {
    display: block;
    text-align: center;
    line-height: 48px;
    color: #FFF;
    font-family: "Noto Sans JP";
}

.btn i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #FFF;
}



#mv {
    position: relative;
    height: 100vh;
    background: url("../img/main-visual.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mv-video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.logo {
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    font-size: 32px;
    text-shadow: 0px 1px 20px rgba(0, 0, 0, .80);
}

.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.news-contents .section-headline {
    width: 30%;
}

.news-list {
    display: flex;
    flex-flow: column;
    row-gap: 32px;
    width: 70%;
}

.news {
    display: flex;
    column-gap: 24px;
    width: 100%;
    border-bottom: 1px solid #A1A1A1;
    padding-bottom: 16px;
    font-family: 'Noto Sans JP';
}

.news-date {
    font-weight: 500;
}

#concept {
    position: relative;
    background: url(../img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

#concept::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
}

#concept .contents-area {
    position: relative;
}

#concept .section-headline {
    margin-bottom: 140px;
}

.concept:nth-of-type(2) {
    margin-bottom: 140px;
}

.concept-title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
}

.concept-text {
    line-height: 2.0;
}

#experience {
    padding-bottom: 0;
}

#experience .section-headline {
    margin-bottom: 48px;
    text-align: center;
}

.experience {
    position: relative;
    display: block;
    width: 250px;
    margin: 0 10px;
}

.experience::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
}

.experience-img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
}

.experience-location {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
}

.experience-date {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #FFF;
    font-family: 'Noto Sans JP';
    font-weight: 700;
}

#product {
    padding-bottom: 0;
}

#product .contents-area {
    width: 100%;
}

#product .section-headline {
    margin-bottom: 48px;
    text-align: center;
}

.product-list {
    display: flex;
    width: 100%;
}

.product {
    width: 100%;

}

.product-img {
    aspect-ratio: 3/2;
    object-fit: cover;
    width: 100%;
}

.footer {
    padding-top: 90px;
}


.footer .contents-area {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #A1A1A1;
    padding-bottom: 90px;
}

.footer-logo {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
}

.footer-nav ul {
    display: flex;
    column-gap: 30px;

}

.footer-sns p {
    margin-bottom: 16px;
    font-weight: 500;
    text-align: center;
}

.footer-sns i {
    color: #111111;
    font-size: 20px;
}

.footer-sns ul {
    display: flex;
    column-gap: 30px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-family: "Noto Sans JP";
    font-size: 14px;
}

/* slick customize */
.slick-arrow {
    height: 40px;
    width: 40px;
}

.slick-arrow:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slick-next {
    right: -40px;
}

.slick-next:before {
    background: url(../img/slick-right.png);
    background-size: cover;
}

.slick-prev {
    left: -40px;
}

.slick-prev:before {
    background: url(../img/slick-left.png);
    background-size: cover;
}

@media screen and (max-width:599px) {

    .section {
        padding: 70px 0;
    }

    .headline-en {
        margin-bottom: 12px;
        font-size: 24px;
    }

    .headline-ja {
        font-size: 12px;
    }

    .logo {
        top: 50%;
        font-size: 24px;
    }

    .contents-area {
        width: 100%;
        padding: 0 15px;
    }

    /* drawer customize */
    .drawer-hamburger {
        padding-top: 24px;
        padding-left: 15px;
    }


    #news .section-headline {
        margin-bottom: 70px;
    }

    .news-contents {
        flex-flow: column;
        margin-bottom: 48px;
    }

    .news-list {
        width: 100%;
    }

    .news {
        flex-flow: column;
    }

    .news-date {
        margin-bottom: 14px;
        font-size: 14px;
    }

    #concept .section-headline {
        margin-bottom: 70px;
    }

    .concept:nth-of-type(2) {
        margin-bottom: 70px;
    }

    .concept-title {
        font-size: 18px;
    }

    .concept-text {
        font-size: 14px;
    }

    .experience {
        width: 69vw;
    }

    #product .contents-area {
        padding: 0;
    }

    #experience .section-headline {
        margin-bottom: 24px;
    }


    #product .section-headline {
        margin-bottom: 24px;
    }

    .product-list {
        flex-flow: column;
    }

    .footer {
        padding-top: 64px;
    }

    .footer .contents-area {
        align-items: center;
        flex-flow: column;
        width: calc(100% - 30px);
        padding-bottom: 64px;
    }

    .footer-logo {
        margin-bottom: 24px;
    }

    .footer-nav {
        margin-bottom: 64px;
        text-align: center;
    }

    .footer-nav li {
        font-size: 14px;
    }

    .footer-sns p {
        margin-bottom: 24px;
    }

    /* slick customize */
    .slick-list {
        aspect-ratio: 1/1;
        width: 69vw;
        margin: 0 auto;
    }

    .slick-next {
        right: 0px;
    }

    .slick-prev {
        left: 0px;
    }

}